

html {
    min-height: 100%;
}

body {
    background-image: url(https://www.ncaa.org/images/2023/3/30/MBB-WBB_BallHoop.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* height: 100%; */
    width: 100%;
    position: fixed;
}

.container{
    position: relative;
    height: 695px;
    width: 85%;
    margin: 0 auto;
}

/* Navbar styling*/

nav{
    background-color: #e84118;
    height: 70px;
}

nav ul {
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
    height: 100%;
}

nav li{
    height: 100%;
}

li{
    display: flex;
    align-items: center;
    /* padding: 20px; */
    /* margin: 20px; */
}

nav a {
    color: white;
    display: block;
    /* margin: 0px; */
    text-decoration: none;
    font-weight: 600;
    height: 100%;
    width: 100%;
    padding: 20px;
}

li:hover {
    text-decoration: none;
    /* color:#E64833 */
    background-color: #0097e6;
}

.nav-logout{
    position: absolute;
    right: 60px;
    top: 0px;
    z-index: 10;
    height: 70px;
}

/*Home Page- Not logged in*/

.Home-Content{
    position: relative;
    height: 60vh;
    top: 15%;
}

.Home-Welcome{
    margin: 0 auto;
    width: 150px;
    color: #c0392b;
    position: relative;
    /* right: 5%; */
}

.Home-Buttons{
    margin: 0 auto;
    width: 150px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    top:40%;
}

.Home-Button{
    border-radius: 4px;
    background-color: #1abc9c;
    border: 1px solid #bdc3c7;
    height: 40px;
}

/*Register/Login Form */

.login-form-Container{
    height: 260px !important;
}

.login-button{
    width: 100%;
    margin-top: 4%;
}

.register-button{
    width: 100%;
    margin-top: 5%;
}

.form-label{
    color: #0097e6;
    margin-bottom: 10px;
}

/* Comments */
#comment-title {
    color: #40739e;
    position: absolute;
}

.comment-form-Container{
    height: 180px !important;
}

.make-comment-button{
    width: 100%;
    margin-top: 6%;
}

/* Edit comment form */

.edit-comment-form{
    height: 180px !important;
}

.edit-comment-button{
    width: 100%;
    margin-top: 6%;
}

/*Post Form */

div .post {
    height: 280px;
}

#forum-title {
    margin: 0 auto;
    width: 350px;
    margin-bottom: 20px;
}

.post-button{
    width: 100%;
    margin-top: 10%;
}

#post-list a{
    text-decoration: none;
    width: 100%;
    font-size: 1.5em;
}

.forum-Container{
    background-color: white;
    height: 100%;
    width: 85%;
    margin: 0 auto;
}

.forum-small-Container{
    margin: 0 auto;
    width: 80%;
}

.post-form{
    width: 100%;
}

svg{
    width: 30px;
    height: 30px;
}

/* Forum */

.post-div{
    background-color: #c23616;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 0px 0px 6px 6px;
}

.add-post-button{
    display: block;
    width: 140px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.forum-link {
    color: white;
    text-decoration: none;  
}

.forum-link:hover{
    color: #00a8ff;
}

.choice-form {
    position: relative;
    width: 100%;
    top: 11%;
}

/* Home page */
.new-home-small-Container{
    background-color: #c23616;
    width: 400px;
    height: 280px;
    border-radius: 6px;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

.new-home-Container{
    width: 100%;
}

.new-home-button{
    margin-top: 20%;
    width: 100%;
}

#logout-form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-210%, -300%);
}

.form-title{
    position: fixed;
    top: 200px;
    color: #40739e;
}

/* Game Scores */

.form-Container{
    background-color: #c23616;
    margin: 0 auto;
    width: 400px;
    height: 350px;
    border-radius: 6px;
    padding: 15px;
    position: relative;
    top: 200px;
}

.game-scores-button{
    width: 100%;
    margin-top: 5%;
}

/* Player stats raw */

.stats-raw-Container{
    margin: 0 auto;
    width: 400px;
}

.stats-raw-button{
    width: 100%;
    margin-top: 5%;
}

/* users */

.user-list-Container{
    background-color: #c23616;
    padding: 15px;
    width: 85%;
    margin: 0 auto;
    border-radius: 0px 0px 6px 6px;
    height: 100%;
}

.user-list-Container a {
    text-decoration: none;
    font-size: 1.5em;
}

@media(min-height: 100.01vh){
   .user-list-Container{
    overflow-y: scroll;
   } 
}

/*Error messages*/

.alert {
    position: absolute;
    /* position: relative;
    top: 10px; */
    top:40px;
    width: 100%;
}