

html {
    min-height: 100%;
}

body {
    background-image: url(https://www.ncaa.org/images/2023/3/30/MBB-WBB_BallHoop.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar styling*/

nav{
    background-color: #e84118;
    height: 70px;
}

nav ul {
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
    height: 100%;
}

nav li{
    height: 100%;
}

li{
    display: flex;
    align-items: center;
    /* padding: 20px; */
    /* margin: 20px; */
}

li a {
    color: white;
    display: block;
    /* margin: 0px; */
    text-decoration: none;
    font-weight: 600;
    height: 100%;
    width: 100%;
    padding: 20px;
}

li:hover {
    text-decoration: none;
    /* color:#E64833 */
    background-color: #0097e6;
}
/*Home Page- Not logged in*/

.Home-Content{
    position: relative;
    height: 60vh;
    top: 15%;
}

.Home-Welcome{
    margin: 0 auto;
    width: 150px;
    color: #c0392b;
    position: relative;
    /* right: 5%; */
}

.Home-Buttons{
    margin: 0 auto;
    width: 150px;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    top:40%;
}

.Home-Button{
    border-radius: 4px;
    background-color: #1abc9c;
    border: 1px solid #bdc3c7;
    height: 40px;
}

.template-form {
    position: absolute;
    left: 50%;
    width: 25%;
    transform: translate(-40%, 250%);
}

.stat-form{
    position: absolute;
    left: 50%;
    width: 25%;
    transform: translate(-40%, 0%);
}

/*Register/Login Form */

#register-title{
    color: #40739e;
    margin: 0 auto;
    width: 160px;
}

.register-form-container{
    margin: 0 auto;
    transform: translate(0%, 20%);
    background-color: #40739e;
    width: 400px;
    height: 360px;
    border-radius: 4px;
}

#register-form{
    position: relative;
    width: 90%;
    margin: 0 auto;
    top: 8%;
}

#login-title{
    color: #40739e;
    margin: 0 auto;
    width: 120px;
}

.login-form-container{
    margin: 0 auto;
    transform: translate(0%, 20%);
    background-color: #40739e;
    width: 400px;
    height: 260px;
    border-radius: 4px;
}

#login-form{
    position: relative;
    width: 90%;
    margin: 0 auto;
    top: 8%;
}

.form-label{
    color: #44bd32;
}

#comment-title {
    color: #1B1464;
    position: absolute;
    top: 30%;
    left: 54%;
    transform: translate(-59%, -20%);
}

/*Post Form */
#make-a-post {
    position: relative;
    left: 50%;
    transform: translate(-5%, 230%);
}

#post-form {
    position: relative;
    width: 25%;
    left: 50%;
    transform: translate(-40%, 90%);
}

#add-post-form {
    position: relative;
    top: 50%;
    left: 50%;
    width: 25%;
    transform: translate(-10%, 400%);
}


#post-delete-btn {
    position: relative;
    height: 100px;
    top: 200%;
    left: 50%;
    z-index: 20;
    transform: translate(15%, 32%);
}

#post {
    position: relative;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-70%, 60%);
}

.choice-form {
    position: relative;
    width: 100%;
}

#logout-form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-210%, -300%);
}

#game-score-logout-form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-260%, -300%);
}


#game-scores-form {
    position: relative;
    top: 50%;
    left: 50%;
    width: 25%;
    transform: translate(-40%, 80%);
}

#add-comment-btn {
    position: relative;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-60%, -170%);
}

.numOfLikes {
    font-size: 25px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(55%, -163%);
}

#likes-title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(20%, -70%);
}

.likeButton {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-5%, 10%);
}

#comments-title {
    position: relative;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-80%, -200%);
}

.comment-div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-30%, 34%);
    height: 250px;
    width: 350px;
    overflow-y: auto;
}

#comment-list {
    position: relative;
    width: 400px;
    height: 50px;
    transform: translate(35%, 30%);
}

#comment-content{
    width:500px;
}

.comment-delete-btn {
    position: relative;
    transform: translate(15%, -100%);
}

.register-title {
    color: #1B1464;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
}

#forum-title {
    color: #1B1464;
    position: relative;
    top: 30%;
    left: 57%;
    transform: translate(-15%, 200%);
}

.forum-link {
    color: white;
    position: absolute;
    left: 40%;
    transform: translate(0%, 1025%);
}

#post-list {
    position: relative;
    top: 30%;
    left: 57%;
    transform: translate(-12%, 640%);
}

#post-content {
    color: #4e0b0d;
}


#post-title {
    color: #6F1E51;
}

ul {
    list-style-type: none;
    height: 23px;
}

.msg {
    position: relative;
    top: 30%;
    left: 57%;
    transform: translate(-68%, 200%);
}

/*Error messages*/

.alert {
    position: relative;
    top:10px;
}