<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/bootstrap"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <li class="logged-in"><a href="/logout">Logout</a></li>
                <li class="logged-out"><a href="/login" id="login-link">Login</a></li>
                <li class="logged-out"><a href="/register">Register</a></li>
                <li><a href="/users">Users</a></li>
                <li class="logged-in"><a href="/a/basketball-info">Basketball Info</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ msg }}</div>
        {% endfor %}
        {% block content %}
        {% endblock%}
    </div>
    <link rel="stylesheet" href="/static/app.css">
    <script src="/static/setNavLinks.js"></script>
</body>

</html>