{% extends 'base.html' %}

{% block title %} 2023 Games {% endblock %}

{% block content %}

    <h1 id="comment-title">Make A Comment</h1>
    {% for msg in get_flashed_messages() %}
  <p>{{ msg }}</p>
{% endfor %}
<form class="template-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label(class="form-label") }}
        {{ field(class="form-control") }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}