{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}
<div class="forum-Container">
    <div class="forum-small-Container">
<h1 id="forum-title">Basketball Forum</h1>

<form action="/forum/posts" id="add-post-form">
    <button class="add-post-button btn btn-success">Add Post</button>
</form>
<ul id="post-list">
    {% for post in posts %}
        <li class="post-card">
            <a href="/forum/posts/{{post.id}}">
                {{post.title}}
            </a>
        </li>
    {% endfor %}
</ul>
</div>
</div>

{% endblock %}