{% extends 'base.html' %}

{% block title %} Games Scores {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/Game_Scores.css">
    <h1>Games Scores</h1>
    <a href="/{{username}}/basketball-forum"></a>
    {% for msg in get_flashed_messages() %}
  <p>{{ msg }}</p>
{% endfor %}
<form id="game-scores-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label(class="form-label") }}
        {{ field(class="form-control") }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<canvas></canvas>
<script src="/static/season_game_stats.js"></script>
{% endblock %}