{% extends 'base.html' %}

{% block title %} Player stat scores{% endblock %}

{% block content %}
    <h1>Player Stats(Raw)</h1>
    <a href="/{{username}}/basketball-forum"></a>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
    {% for msg in get_flashed_messages() %}
  <p>{{ msg }}</p>
{% endfor %}
<form id="game-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  
    <button type="submit">Submit</button>
</form>
<canvas></canvas>
<script src="/static/player_stats_raw.js"></script>
{% endblock %}