{% extends 'base.html' %}

{% block title %} Player stat scores{% endblock %}

{% block content %}
    <h1>Player Stats(Raw)</h1>
    <a href="/{{username}}/basketball-forum"></a>
    
<form class="stat-form" id="raw">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label(class="form-label") }}
        {{ field(class="form-control") }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<canvas id="canvas">

</canvas>
<script src="/static/player_stats_raw.js"></script>

{% endblock %}