{% extends 'base.html' %}

{% block title %} Player stat percentages{% endblock %}

{% block content %}
<div class="form-Container">
    <h1 class="form-title">Player Stats(Percent/Ratio)</h1>
    <a href="/{{username}}/basketball-forum"></a>
  
<form class="stat-form" id= "percent">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label(class="form-label") }}
        {{ field(class="form-control") }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<canvas>

</canvas>

<script src="/static/player_stats_percentages.js"></script>
{% endblock %}